							/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html
{
	height: 100%;
}

@font-face
{
    font-family: 'KozGoPr6N-Bold';
    src: url('../police/KozGoPr6N-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Kenzo';
    src: url('../police/Kenzo Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Mathilde';
    src: url('../police/mathilde.otf');
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------Global------------------------------------*/

body
{
   background-image: url("../Images/bg.jpg");
   width: 1000px;
   margin: 0 auto;
   border-left: 1px solid #E3E3E3;
   border-right: 1px solid #E3E3E3;
   font-family: 'Times New Roman', Arial, sans-serif;
   font-size: 0.9em;
   color: #000000;
}
/*---------------------------balise ------------------------------------------*/
footer a
{
	height:28px;
	width: 27px;
	background: url("../Images/up3.png");
	float:right;
}
footer a:hover
{
	float:right;
	height:28px;
	width: 27px;
	background: url("../Images/up3a.png");
}
mark
{
	text-decoration: none;
}
#table_profil tr
{
	padding-left:10px;
}

#table_profil th
{
	font-weight: bold;
}
i
{
font-style: italic;
}

#lien a
{
   color: blue;
   text-decoration: none;
   border-bottom: 1px dotted #193214;
}
#lien a:hover 
{ 
color: #B3B3B3;
text-decoration: blink;
font-weight: bold;
font-size: 100% ;
border: 0;
}
a
{
   color: #193214;
   text-decoration: none;
}
a:hover 
{ 
color: #B3B3B3;
text-decoration: blink;
font-weight: bold;
font-size: 100% ;
border: 0;
}


h3
{
font-weight: lighter;
background-color:#158765;
color: #fff;
margin-top:15px;
margin-bottom: 5px;
}
h1
{
font-family: KozGoPr6N-Bold;
font-size: 40px;
color: #000;
}

#news h2
{
font-family: Kenzo;
font-size: 30px;
font-weight: bold;
border: 1px dotted black;
color: white;
text-align: center;
background-color:#826969;

}
#news h2:hover
{
color:black;
}

#form input[type=text],#form input[type=password],#form input[type=email]
{
height: 20px;
margin-bottom: 15px;
border-radius: 5px;
}

input
{
padding-left: 6px;
}


#config_style a:hover
{
opacity: 0.5;
color: red;
}



#barre_disconnect
{
display: inline-block;
padding-top: 1px;
padding-right: 5px;
}

#barre_disconnect a
{
display: block;	
}


#barre_disconnect ul li ul
{
position:absolute;
display: none;
height: 15px;
line-height: 15px;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 0;
font-size: 15px;
text-transform: none;


}

#barre_disconnect ul li ul li
{
background-color: rgba(0, 0, 0, 0.8);
width:100%;

}
#barre_disconnect li:hover a
{
	background: none; /* #C1CAC5 */
	color: #fff;
}

#barre_disconnect li {
 margin:auto;
 padding:5px;
 }

#barre_disconnect ul li:hover ul {
 display:block;
 }
#barre_disconnect li:hover ul li {
 float:none;
 }
 
 #barre_disconnect ul li ul li a:hover
 {
background-color: #9ed44b;
border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
 }

 .tab_article_couleur
 {
 opacity:0.6;
 background-color:red;
 color:white;
 }
 
 #tab_article th
 {
 padding-left:50px;
 padding-right:50px;
 }
/*----------------------------------En tête-------------------------------------*/
header
{
   width: 998px;
   height: 100%;
   background-color: white;
   border-left: 1px solid #D5D5D5;
   border-right: 1px solid #D5D5D5;
}

#header_section
{
   width:998px;
   background-color: white;
   margin: 0;
   border-left: 1px solid #D5D5D5;
   border-right: 1px solid #D5D5D5;
   

}

/*---------------------------------pied de page---------------------------*/

footer
{
background-image:linear-gradient(#3F4643,rgba(0, 0, 0, 0.8));
color: #E9F0ED;
height: auto;
padding: 10px 20px 10px 20px;
border-left: 1px solid #D5D5D5;
border-right: 1px solid #D5D5D5;
}


footer p, footer ul
{
    font-size: 0.8em;
}


/*----------------------------------contenu------------------------------------*/

section
{
   width: 958px;
   height: auto;
   background-color: #ffffff;
   margin: none;
   display: block;
   padding: 30px  20px 40px 20px;
   border-left: 1px solid #D5D5D5;
   border-right: 1px solid #D5D5D5;

}
#imageArticle
{
	height:	200px;
	width:	200px;
	border-radius: 100px;
	box-shadow: 1px 1px 12px #555;
	margin: 20px 20px 5px 10px;
}
strong
{
font-weight: bold;
}

article
{
height: 200%;
padding-bottom: 80px;
}
/*article a:link
{
border-bottom: 1px dotted red;
}*/
article p
{
padding-bottom: 4px;
opacity:0.8;
}

/* TEST POUR RUBAN ************************************************************/

#fond {
position: relative;
margin: 0px auto;
width: 1000px;
background: #fff;
border-radius: 5px;
box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
z-index: 10;
height:110px;

}
 
.ruban {
background: #303A62;
height: 50px;
width: 1030px;
position: relative;
left:-15px;
top: 30px;
float: left;
box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
z-index: 100;
}
 
.ruban h2 {
font-size: 25px;
color: #fff;
text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
text-align: center;
margin:10px;
}
 
.ruban_gauche {
border-color: transparent #303A62 transparent transparent;
border-style:solid;
border-width:15px;
height:0px;
width:0px;
position: relative;
left: -30px;
top: 65px;
z-index: -1;  /*s'affichera sous le rectangle  */
}
 
.ruban_droit {
border-color: transparent transparent transparent #303A62;
border-style:solid;
border-width:15px;
height:0px;
width:0px;
position: relative;
left: 1000px;
top: 35px;
z-index: -1;
}
